
.homebody{
  background: url(../public/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  background-position: center;
}
.body{
padding: 0px;
margin: 0px;
background-size: cover;
overflow-x:hidden;
}

.navbar-toggler-icon{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%285, 225, 225, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

.navbar{
  position: sticky;
  top: 0px;
}

.bodyN{
  backdrop-filter: blur(20px);
}

.introduction{
  margin: 50px auto;
  box-sizing: border-box;
}
.intro{
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  color: black;
}
.icons{
  text-align: center;
  justify-content: center;
}
.node{
  color: #7fc728;
}
.mongo{
  color: #449b35;
}
.html{
  color: #dd4b24;
}
.css{
  color: #2060ab;
}
.bootstrap{
  color: #7610f0;
}
.tailwind{
  color: #36b7f0;
}
.js{
  color: #ceb330;
}

.iconul{
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 40px;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}

.welcome{
  text-align: center;
  font-size: xx-large;
  font-family: fantasy;
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.naav{
  color: white;
}
.name{
  color: rgb(0, 26, 255);
}
.info{
  text-align: center;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}
.inf{
  text-align: center;
  font-size: large;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: black;
}
.img{
  box-sizing: border-box;
  
}
.image{
height: 500px;
}
.main{
  overflow: hidden;
  background:none;
}

/* service  */

.cards{
  background-color: white;
  margin: 10px;
  box-shadow: 0px 0px 10px;
}
.service{
background: url(../public/bg2.png);
 background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.item{

  font-size: xx-large;
}
/* about */
/* .detail{
  color:white;
} */
.aboutbody{
  background: url(../public/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  background-position: center;
}




/* education */
/* .educ{
  color: white;
} */
.head{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  color: blue;
}
.head2{
   color: black;
  text-decoration: none;
}
.se{
  color: rgb(255, 174, 0);
  font-weight: bold;
}
.pre{
  font-size: x-large;
}
.coll{
  font-size:medium;
  color: white;
}
.cardoo{
  padding: 5px;
  box-sizing: border-box;
  border: 2px;
}
.cardBody{
  border: 2px solid rgb(255, 187, 0);
}


/* projects */


/* Contact Css */
.contactBody{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contactBody1 {
    font-family: 'Arial', sans-serif;
    background:none;
    overflow-x: hidden;
}

.header {
    background:none;
    color: white;
    padding: 40px 0;
    text-align: center;
    position: relative;
    z-index: 10;
}

.contact-section {

    color: white;
    text-align: center;
}

.container1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.p {
  color: black;
    font-size: 1.2em;
    margin-bottom: 30px;
}
.us{
  color: rgb(255, 174, 0);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    color: white;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    background: rgb(236, 234, 234);
    border: none;
    border-bottom:3px solid black ;
  }
.textarea {
    resize: vertical;
}



.submit-btn {
    padding: 15px 30px;
    background-color: rgb(53, 53, 240);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #36506f;
}

#successMessage {
    margin-top: 20px;
    color: #32cd32;
    font-size: 1.1em;
}


/* animation */

/* service  */

